/docker        export-ignore
/public        export-ignore
/tests         export-ignore
/var           export-ignore
/.github       export-ignore

Dockerfile         export-ignore
docker-compose.yml export-ignore

composer.lock               export-ignore
.dockerignore               export-ignore

